<div id="cruzeiro">
    <h1>Livro de Músicas</h1>
    <div class="form-group">
        <label>Url</label>
        <input type="text" id="url" class="form-control" placeholder="Digite a url do vagalume" />
        
    </div>
    <button class="btn btn-primary btn_enviar">Enviar</button>
</div>

@section scripts{<script src="~/Scripts/site/tinho.js"></script>}
